h1 {
    font-family: "Novacento Sans Wide", "Helvetica", "Tahoma", "Geneva", "Arial", "Noto Sans CJK SC", "WenQuanYi Micro Hei", "Droid Sans Fallback", "WenQuanYi Zen Hei", sans-serif;
}
h2, h3, h4, h5, h6 {
    font-family: "Work Sans", "Helvetica", "Tahoma", "Geneva", "Arial", "Noto Sans CJK SC", "WenQuanYi Micro Hei", "Droid Sans Fallback", "WenQuanYi Zen Hei", sans-serif;
}
body {
    font-family: "Work Sans", "Helvetica", "Tahoma", "Geneva", "Arial", "Noto Sans CJK SC", "WenQuanYi Micro Hei", "Droid Sans Fallback", "WenQuanYi Zen Hei", sans-serif;
}
code, kbd, pre, samp {
    font-family: "Consolas", menlo, "Noto Sans Mono CJK SC", "WenQuanYi Zen Hei Mono", monospace;
}
